<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
		<h1>{{ title }}</h1>
</div>

<h3> Select Power Level</h3>
<div class="powerSelect">
	<form (submit) = powerUp(hold)>
		<select name="powerLevel" #power (change)="setLevel($event.target.value)">
			<option *ngFor="let num of range" [value]="num">{{ num }}</option>
		</select>
		<button type="submit">Select Power Level</button>
	</form>
</div>
<div class="box">
	<app-human [powerLevel]="powerLevel"></app-human>
</div>
<div class="box">
	<app-saiyan [powerLevel]="powerLevel"></app-saiyan>
</div>
<div class="box">
	<app-super-saiyan [powerLevel]="powerLevel"></app-super-saiyan>
</div>
<div class="box">
	<app-super-saiyan-two [powerLevel]="powerLevel"></app-super-saiyan-two>
</div>
<div class="box">
	<app-super-saiyan-three [powerLevel]="powerLevel"></app-super-saiyan-three>
</div>
<div class="box">
	<app-super-saiyan-four [powerLevel]="powerLevel"></app-super-saiyan-four>
</div>
